<h1>@AppState["customAppName"]</h1>

<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="title">@(PageData["title"] ?? "IAM.Atlas for Visual Studio")</title>
    <meta name="description" content="@PageData[" description"]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    @Styles.Render("~/app_assets/css/app")
    <link rel="stylesheet" href="~/app_assets/vendor/datepicker/angular-date-picker.css" />
    <link rel="stylesheet" href="~/app_assets/css/offcanvas.css" />

</head>

<body ng-controller="TrainerHomeCtrl" id="trainerLanding">





    <div class="container">

        <div class="row row-offcanvas row-offcanvas-left">



            <div class="col-xs-6 col-sm-3 sidebar-offcanvas main-side-bar-container" id="sidebar">

                <div class="quick-links-holder">
                    <ul>
                        <a href="/trainer"><li class="small-home-icon"></li></a>
                        <a href="#"><li class="small-email-icon"></li></a>
                        <a href="#"><li class="small-info-icon"></li></a>

                    </ul>
                </div>
                <div class="inner-sidebar-holder">

                    <div class="trainer-profile-picture">
                        <img class="img-responsive" src="{{ trainerProfilePicture }}" />
                    </div>
                    <div class="trainer-details">
                        <div class="trainer-name">Miles Stewart</div>
                        <div class="trainer-role">Trainer</div>
                        <div class="trainer-location">Chiswick</div>
                    </div>
                    <div class="trainer-links">
                        <ul>
                            <li class="trainer-about-icon"><a href="/trainer/about">About</a></li>
                            <li class="trainer-available-icon"><a href="/trainer/availability">Availability</a></li>
                            <li class="trainer-booking-icon"><a href="#">Bookings</a></li>
                        </ul>
                    </div>

                </div>

            </div><!--/.sidebar-offcanvas-->


            <div class="col-xs-12 col-sm-9 main-trainer-container">

                <div class="row trainer-header">
                    <div class="visible-xs col-xs-3">
                        <div class="toggle-button toggle-menu-button" data-toggle="offcanvas"></div>
                    </div>
                    <div class="col-xs-7 col-sm-10">
                        <img class="img-responsive company-logo" src="~/app_assets/images/trainer_logo.png" alt="" />
                    </div>
                    <div class="col-xs-2 col-sm-2">
                        <a class="sign-out-trainer" href="#">Sign out</a>
                    </div>
                </div><!--/row-->

                <div class="trainer-content-body">

                    <div id="ui-view" ui-view data-tmpl-url="@Request.RequestContext.RouteData.DataTokens[" templateUrl"]">
                    </div>

                </div>

            </div><!--/.col-xs-12.col-sm-9-->

        </div><!--/row-->


    </div><!--/.container-->




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="offcanvas"]').click(function () {
                $('.row-offcanvas').toggleClass('active')
            });
        });
    </script>



    @*<script src="~/Scripts/vendor/smart-table/smart-table.min.js"></script>*@
    <script src="~/Scripts/vendor/smart-table/smart-table-custom.js"></script>
    <script src="~/Scripts/vendor/angular-animate.min.js"></script>

    <script src="~/Scripts/angular-breadcrumb.min.js"></script>
    <script src="~/Scripts/angular-autocomplete.js"></script>
    <script src="~/Scripts/spectrum.js"></script>

    @*Documentation for the datepicker http://myplanet.github.io/angular-date-picker/*@
    <script src="~/app_assets/vendor/datepicker/angular-date-picker.js"></script>
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-datepicker/0.2.16/angular-datepicker.min.js"></script>*@

    <script src="~/app_assets/js/vendor/postcode/crafty_postcode.class.js"></script>
    <script src="~/app_assets/js/globals.js"></script>
    <script src="~/app/components/changePassword/services/angular-no-captcha.js"></script>
    @*For Examples see of Bootstrap Dialog http://nakupanda.github.io/bootstrap3-dialog/*@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.4/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" href="~/app_assets/css/bootstrap/bootstrap-dialog.css" />
    @* Using jQuery Cookie to manage cookies. Documentation is here: https://github.com/carhartl/jquery-cookie *@
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>


    @*
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-spinner/0.6.1/angular-spinner.min.js"></script>*@
    @*
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>*@
    @*
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js.map"></script>*@


    <!-- Place the app.js here -->
    <script src="~/Scripts/trainerApp.js"></script>


    @Scripts.Render("~/js/app")
    @*
    Google Analytics
    ----------------
    Google recommends that this script be placed at the top of the page. Factors to consider: if you place this
    script at the top of the page, you'll be able to count users who don't fully load the page, and you'll incur
    the max number of simultaneous connections of the browser.
    https://developers.google.com/analytics/devguides/collection/analyticsjs/
    *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '@WebConfigurationManager.AppSettings["GoogleAnalytics:PropertyID"]', '@(Request.IsLocal ? "none" : "auto")');
    </script>
</body>
</html>